*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}

.topnav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cornflowerblue;
    background-color: seagreen;
    width: 100%;
    overflow: auto;
}

.topnav img{
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    top: 8px;
    left: 16px;
}

ul{
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
}

li{
    float: left;
}

.logo{
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    size: 10px;
}

nav a{
    width: 100px;
    display: block;
    padding: 30px 15px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lawngreen;
    text-align: center;
}


.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

.bigLinks{
    margin-left: auto;
    margin-right: auto;
}

.bigLinks a{
    height:50 px;
    width: 50px;
    max-width: 100%;
    max-height: 100%;
}

.bigLinks img{
    height:28px;
    width: 28px;
    max-width: 100%;
    max-height: 100%;
}

.yeezy{
    height:245px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 3%;
}

.drake{
    height:245px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 3%;
}

.turks{
    height:245px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 3%;
}

.DooW{
    max-width: 100%;
    max-height: 100%;
    position: center;
    padding: 5%;
    margin-bottom: -70px;
    margin-top: -70px;

}